@model EntityLayer.Concrete.Product
@{
    ViewData["Title"] = "EditProduct";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Yeni Takıum Üyesi Kaydı</h4>
            <form class="forms-sample" method="post">
                <div class="form-group">
                    @Html.HiddenFor(x => x.ProductID)
                    <label for="exampleInputName1">Ürün</label>
                    <input type="text" class="form-control" placeholder="Ad Soyad" asp-for="Name">
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail3">Fiyat</label>
                    <input type="text" class="form-control" placeholder="Fiyatı giriniz..." asp-for="Price">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail3">Stok Adeti</label>
                    <input type="text" class="form-control" placeholder="Stok adetini giriniz...." asp-for="Stock">
                    <span asp-validation-for="Stock" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail3">Görsel Url</label>
                    <input type="text" class="form-control" placeholder="Görsel yolunu giriniz..." asp-for="ImagePath">
                </div>
                <button type="submit" class="btn btn-outline-info">Değişiklikleri Kaydet</button>
            </form>
        </div>
    </div>
</div>

