
<div class="blog" id="blog">
    <div class="container">
        <h3 class="tittle">GÜNCEL BLOGLAR</h3>
        <p class="heading-btm-w3ls">Çiftliklerimizden ve tarlalarımızdan son haberler aşagıdadır...</p>
        <div class="blog-grid-w3-agileits">
            <div class=" col-md-7 blog-img1-agileits-w3layouts">
                <a href="#" data-toggle="modal" data-target="#myModal2">
                    <img src="https://lab.fiskobirlik.com.tr/uploads/toprak-analizi.jpg" alt=" " class="img-responsive">
                </a>
            </div>
            <div class=" col-md-5 blog-info-w3layouts">
                <h6> <a href="#" data-toggle="modal" data-target="#myModal2">Toprak Analizi ve Önemi</a></h6>
                <div class="inner-info">
                    <a href="#" class="blog-text-w3ls bar">Lorem ipsum.</a><span>14/06/2023</span>
                    <p class="para-w3-agileits">
                        Bitkiler topraktan beslenen canlılardır. Hayatlarını sürdürmeleri için yetiştikleri topraktan yeterli besin elementle...
                    </p>
                </div>
                <a href="#" class="blog-more-agile" data-toggle="modal" data-target="#myModal2">Read More</a>

            </div>
            <div class="clearfix"></div>
        </div>


        <div class="blog-grid-w3-agileits">
            <div class=" col-md-5 blog-info-w3layouts blog-mid">
                <h6><a href="#" data-toggle="modal" data-target="#myModal3">Orkide Nasıl Yetiştirilir</a></h6>
                <div class="inner-info-mid">
                    <a href="#" class="blog-text-w3ls mid-bar">Lorem ipsum.</a><span>14/06/2023</span>
                    <p class="para-w3-agileits">Orkideyi koyacağınız yerin aydınlık olması ancak direkt ışık almıyor olması gerekmektedir. Pencere önü değil ama dah...</p>
                </div>
                <a href="#" class="blog-more-agile" data-toggle="modal" data-target="#myModal3">Read More</a>

            </div>
            <div class=" col-md-7 blog-img2-agileits-w3layouts">
                <a href="#" data-toggle="modal" data-target="#myModal3">
                    <img src="https://cdn.yemek.com/uploads/2022/11/orkide-nasil-cogaltilir-shutter-3.jpg" alt=" " class="img-responsive">
                </a>
            </div>
            <div class="clearfix"></div>
        </div>


        <div class="blog-grid-w3-agileits">
            <div class=" col-md-7 blog-img3-agileits-w3layouts">
                <a href="#" data-toggle="modal" data-target="#myModal4">
                    <img src="https://www.sorhocam.com/uploads/max/262018-12-23-33-422Z5.png" alt=" " class="img-responsive">
                </a>
            </div>
            <div class=" col-md-5 blog-info-w3layouts">
                <h6><a href="#" data-toggle="modal" data-target="#myModal4"> Organik Karbon</a></h6>
                <div class="inner-info">
                    <a href="#" class="blog-text-w3ls bar">Lorem ipsum.</a><span>16/06/2023</span>
                    <p class="para-w3-agileits">Organik karbon gübre, toprakta doğal olarak oluşan bir maddedir. Bitkilerin ve hayvanların ayrışması bu bileşiği ver...</p>
                </div>
                <a href="#" class="blog-more-agile" data-toggle="modal" data-target="#myModal4">Read More</a>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!-- //blog -->
<!-- Modal2 -->

<div class="modal fade" id="myModal2" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4>TOPRAK ANALİZİ ve ÖNEMİ</h4>
                <img src="https://lab.fiskobirlik.com.tr/uploads/toprak-analizi.jpg" alt=" " class="img-responsive">
                <h5>Toprak Analizi ve Önemi</h5>
                <p>
                    Bitkiler topraktan beslenen canlılardır. Hayatlarını sürdürmeleri için yetiştikleri topraktan yeterli besin elementlerini almaları gerekir. Toprak, birçok mineral maddeyi yapısında bulundurur fakat bitkiye yarayışlı besin elementlerinin miktarları her zaman yeterli olmayabilir.
                    Belli bir tarlayı ya da araziyi temsil eden toprak örneği, fiziksel yapısı ve içinde bulundurduğu bitki besin miktarlarının belirlenmesi amacıyla laboratuvarda analiz edilir. Toprak analizi; doğru ürünü doğru toprağa ekmek, kaliteli ve yüksek verim alabilmek amacıyla dengeli bir gübreleme yapılabilmesi adına çok önemlidir. Yapılan analizler ile toprağın gübre gereksinimleri belirlenerek aşırı gübre kullanılmasının önüne geçilir. Böylelikle hatalı gübre kullanımı sonucu oluşan çevre kirliliği ve çoraklığında önüne geçilmiş olunur.
                </p>
            </div>
        </div>
    </div>
</div>
<!-- //Modal2 -->
<!-- Modal3 -->
<div class="modal fade" id="myModal3" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4>ORKİDE NASIL YETİŞTİRİLİR?</h4>
                <img src="https://cdn.yemek.com/uploads/2022/11/orkide-nasil-cogaltilir-shutter-3.jpg" alt=" " class="img-responsive">
                <h5>Orkide Nasıl Yetiştirilir?</h5>
                <p>Orkideyi koyacağınız yerin aydınlık olması ancak direkt ışık almıyor olması gerekmektedir. Pencere önü değil ama daha yan kenarlarına doğru koyabilirsiniz. Doğu cepheye bakan yerlerde daha iyi büyürler. Güney ya da batı cephede de büyüyebilirler ancak bir perde ile korunmaları sağlıklı olur.</p>
            </div>
        </div>
    </div>
</div>
<!-- //Modal3 -->
<!-- Modal4 -->
<div class="modal fade" id="myModal4" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4>ORGANİK KARBON</h4>
                <img src="https://www.sorhocam.com/uploads/max/262018-12-23-33-422Z5.png" alt=" " class="img-responsive">
                <h5>Organik Karbon</h5>
                <p>Organik karbon gübre, toprakta doğal olarak oluşan bir maddedir. Bitkilerin ve hayvanların ayrışması bu bileşiği verir. Karbon, toprakların gıda ağı için zengin bir enerji ve yiyecek kaynağıdır. Organik karbon, sıcak, nemli koşullara maruz kaldığında hızla bozulur. Malzemenin ayrıştığı oran, topraktaki organik karbonun oranı ile ilgilidir. Ne kadar organik karbon toprak içerir, o kadar iyidir.</p>
            </div>
        </div>
    </div>
</div>
<!-- //Modal4 -->