
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Excel Raporları</h2>
<br />
<br />
<a href="/Report/StaticReport" class="btn btn-outline-info">Static Rapor</a>
<br />
<a href="/Report/MessageReport" class="btn btn-outline-warning">Mesaj Raporları</a>
<br />
<a href="/Report/DuyuruReport" class="btn btn-outline-secondary">Duyuru Raporları</a>
